<button id="button" (click)="togglePolygonMode()"><b>Polygon Mode</b> <b [ngStyle]="{color: (polygonMode)? 'green':'red'}">{{polygonMode}}</b></button>
<button id="button" (click)="togglePointToPointMode()"><b>P-to-P Mode</b> <b [ngStyle]="{color: (pointToPointMode)? 'green':'red'}">{{pointToPointMode}}</b></button>
<button id="button" (click)="deletePolygon()" [disabled]="paths2.length == 0"><b>Delete Polygon</b></button>
<button id="button" (click)="deletePolyline()" [disabled]="points.length == 0"><b>Delete Polyline</b></button>
<button id="button" (click)="undo()" [disabled]="mapActionStack.isEmpty()"><b>Undo</b></button>
<button id="button" (click)="executePythonScript()" ><b>Exec Python</b></button>
    

<sebm-google-map 
    [latitude]="lat" 
    [longitude]="lng" 
    [zoom]="zoom"
    [disableDoubleClickZoom]="true"
    (mapClick)="mapClicked($event)">

    <sebm-google-map-marker [latitude]="marker.lat" [longitude]="marker.lng" [label]="'M'"></sebm-google-map-marker>

    <sebm-map-polygon *ngIf="paths2.length%2==0" 
    [paths]="paths2"
    [fillColor]="'lime'"
    [fillOpacity]="0.4"
    [strokeColor]="'black'"
    [strokeWeight]="1.5"
    [polyDraggable]="true" 
    [editable]="true"
    (polyClick)="polyClick($event)"
    (polyDblClick)="polyDblClick($event)"
    (polyDrag)="polyDrag($event)"
    (polyDragEnd)="polyDragEnd($event)"
    (polyMouseDown)="polyMouseDown($event)"
    (polyMouseMove)="polyMouseMove($event)"
    (polyMouseOut)="polyMouseOut($event)"
    (polyMouseOver)="polyMouseOver($event)"
    (polyMouseUp)="polyMouseUp($event)"
    (polyRightClick)="polyRightClick($event)"
    (ngOnChanges)="ngOnChanges($event)"
    ></sebm-map-polygon>

        
    <sebm-map-polygon *ngIf="paths2.length%2==1" 
    [paths]="paths2"
    [fillColor]="'lime'"
    [fillOpacity]="0.4"
    [strokeColor]="'black'"
    [strokeWeight]="1.5"
    [polyDraggable]="true" 
    [editable]="true"
    (polyClick)="polyClick($event)"
    (polyDblClick)="polyDblClick($event)"
    (polyDrag)="polyDrag($event)"
    (polyDragEnd)="polyDragEnd($event)"
    (polyMouseDown)="polyMouseDown($event)"
    (polyMouseMove)="polyMouseMove($event)"
    (polyMouseOut)="polyMouseOut($event)"
    (polyMouseOver)="polyMouseOver($event)"
    (polyMouseUp)="polyMouseUp($event)"
    (polyRightClick)="polyRightClick($event)"
    (ngOnChanges)="ngOnChanges($event)"
    ></sebm-map-polygon> 

    <sebm-google-map-polyline>
        <sebm-google-map-polyline-point *ngFor="let item of polyline; let i = index" [latitude]="item.lat" [longitude]="item.lng">
        </sebm-google-map-polyline-point>
    </sebm-google-map-polyline>
    
</sebm-google-map>

<div id="static-console">
    <p *ngFor="let item of paths2; let i = index" [ngStyle]="{color: (latestVertex == i)? 'cyan':'white'}">lat: {{item.lat}}, lng: {{item.lng}}</p>
</div>