build: off

os: unstable

platform:
  - x86

branches:
  only:
    - master
    - /^ready\/.*$/

skip_tags: true

environment:
  nodejs_version: "6.5"

cache:
  - node_modules -> package.json

install:
  - ps: Install-Product node $env:nodejs_version
  - npm install npm
  - .\node_modules\.bin\npm install
  - npm run package:windows

test_script:
  - node --version
  - npm run coverage
